//- seperate static sectiions of site like header and footer
footer.footer
    div.footer__logo
        img(src="/img/icons8-cathedral-100.png" alt="Natours logo")
    ul.footer__nav
        li
            a(href="#") About us

        li
            a(href="#")  Join T.I.C family

        li
            a(href="#")  Contact
    p.footer__copyright &copy; The Impact Church. Glory be to God
