//- seperate static sectiions of site like header and footer
header.header
    nav.nav.nav--tours
        a.nav__el(href='#') All services
    div.header__logo
        img(src="img/icons8-globe-africa-windows-10-96.png" alt="T.I.C logo" )
    nav.nav.nav--user
        //- a.nav__el(href='#') My reservations
        //- a.nav__el(href="#")
        //-     img.nav__user-img(src="img/user.jpg" alt="User photo")
        //-     span David
        button.nav__el log in
        button.nav__el.nav__el--cta sign up
