//- pug template
//- set doc type
doctype html
//- html element
html(lang="eng")
    //- html.head
    block head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        link(href="/css/style.css" rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="/img/favicon2.png")
        title T.I.C | #{title}
    //- html.body
    body
        //- to inlude sections seperated to another use includes. static content
        include _header

        //- to be able to dynamically render other requested templates
        //- use block content, so the external can over ride base block content
        block content
            h1= title

        include _footer

        //- script(src='/js/mapbox.js')
        